@import "styles.css";

.container
{
    margin-left: 100px;
    margin-top: 100px;
}

div
{
    margin-top: 5px;
}

input[type=checkbox]
{
    margin-left: 105px;
}

input[type=submit]
{
    margin-top: 35px;
    margin-left: 105px;
}