@import "styles.css";

label
{
    display: inline-block;
    width: 120px;
    text-align: right;
}

div
{
    margin-top: 5px;
}

input[type=submit]
{
    margin-left: 125px;
    margin-top: 20px;
}